<div class="notification-index">
  <span class="notification-page-title">　最新の通知　</span>
  <%= link_to "　全削除　", delete_path, method: :delete, class: "btn btn-sm btn-danger destroy-btn" %>
    <div class="notification-index-contents">
      <% if @notifications.exists? %>
          <!--notificationモデルの中で書くから作用する、each文を書いているのと同じ-->
          <%= render @notifications %>
          <%= paginate @notifications %>
        <table class="table">
          <tbody>
            <% @notifications.each do |notification| %>
              <tr>
                <td>
                  <%= Corp.find(notification.visitor_id).email %> からフォローされました。
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>通知はありません</p>
      <% end %>
    </div>
</div>