<div class="test-page">
  <div class="main-page">
    <span class="main-message">担当セールスと医療関係者の連絡ツール</span><br>
      <%= link_to "　セールス側ログイン　",new_user_session_path,class: "btn btn-success top-btn" %>
      <%= link_to "　企業側ログイン　",new_corp_session_path,class: "btn btn-primary" %>
      <p>基本的なご利用方法はメニューの「About」ページをご覧ください。</p>
  </div>
</div>