<div class="top-page">
  <div class="main-page">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xs-7">
          <span class="main-message">医薬情報担当者と<br class="br-sp">医療関係者の連絡ツール</span>
          <div class="site-title">SUGGESTooL</div>
          <div class="type-message">
        　  <span class="type-text" id="ityped"></span>
          </div>
        </div>
        <div class="col-md-6 col-xs-5">
          <div class="login-link">
            <div class="doctor-menu">
              <p class="login-link-menu">ドクターの方</p>
              <%= link_to "　新規登録　",new_corp_registration_path, class: "btn btn-primary w-100" %><br>
              <%= link_to "　ログイン　",new_corp_session_path,class: "btn btn-primary w-100 mt-3" %>
            </div>
            <div class="sales-menu">
              <p class="login-link-menu">セールスの方</p>
              <%= link_to "　新規登録　",new_user_registration_path, class: "btn btn-info w-100" %><br>
              <%= link_to "　ログイン　",new_user_session_path,class: "btn btn-info top-btn mt-3 w-100" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--TypeMessageScript-->
<script>
  ityped.init(document.querySelector("#ityped"), {
    strings: ["SUGGESTooL(サジェスツール)は、医療機関に勤める医師の方々と製薬企業の情報連携を勘弁にすることによって、より良い医療の提供を支援しています。"],
    startDelay: 200,
    typeSpeed: 100,
    loop: false,
    showCursor: false,
    cursorChar: "|",
  })
</script>