<main>
    <div class="main-page">
        <h2>担当セールスと医療関係者の連絡ツール</h2>
        <%= link_to "　セールス側ログイン　",new_user_session_path,class: "btn btn-success" %>
        <%= link_to "　企業側ログイン　",new_corp_session_path,class: "btn btn-primary" %>
    </div>
</main>