<div class="test-page">
  <div class="main-page">
    <span class="main-message">医薬情報担当者と<br class="br-sp">医療関係者の連絡ツール</span><br>

      <div class="login-link">
        <%= link_to "　セールスとしてログインする　",new_user_session_path,class: "btn btn-success top-btn mt-3" %>
        <br>
        <%= link_to "　ドクターとしてログインする　",new_corp_session_path,class: "btn btn-primary mt-3" %>
      </div>
      <br>
      <p>基本的なご利用方法はメニューの<br class="br-sp">「About」ページをご覧ください。</p>
  </div>
</div>