<div class="top-page">
  <div class="main-page">
    <span class="main-message">医薬情報担当者と<br class="br-sp">医療関係者の連絡ツール</span>
    <div class="site-title">SUGGESTooL</div>
      <div class="login-link">
        <%= link_to "　セールスとしてログインする　",new_user_session_path,class: "btn btn-info top-btn mt-3" %>
        <br>
        <%= link_to "　ドクターとしてログインする　",new_corp_session_path,class: "btn btn-primary mt-3" %>
      </div>
      <br>
      <div class="type-message">
      　<span class="type-text" id="ityped"></span>
      </div>
  </div>
</div>
  <script>
    ityped.init(document.querySelector("#ityped"), {
      strings: ["Hello World!! Welcome to my memorandum!"],
      startDelay: 200,
      typeSpeed: 150,
      loop: false,
      showCursor: false,
      cursorChar: "|",
    })
  </script>