<main>
  <div class="mypage">
    <span class="page-title">　マイページ　</span>
    <div class="contents">
      <table class="myinfo table">
        <tbody>
          <tr>
            <td>氏名</td>
            <td><%= @user.last_name + @user.first_name %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= @user.email %></td>
          </tr>
    

        </tbody>
      </table>
    </div>
  </div>
</main>