<main>
  <div class="fav-index-page">
    <span class="corp-page-title">　お気に入りユーザー一覧　</span>
    <table class="table table-hover fav-index-table">
      <thead>
        <th>name</th>
        <th>company</th>
        <th>message</th>
        <th>登録or解除</th>
      </thead>
      <tbody>
        <% @relationships.each do |follow| %>
        <% @user = User.find(follow.user_id) %>
        <% @room = Room.find_by(relationship_id: follow.id) %>
        <tr>
          <td><%= @user.last_name + " " + @user.first_name %></td>
          <td>company_name</td>
          <td><%= link_to " ChatRoom ", room_path(@room.id), class: "btn btn-sm btn-primary" %> </td>
          <td>
             <%= render 'relationships/fav', user: @user %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</main>