
  <div class="new-post-page">
    <div class="post-style">
      <div class="post-style-width">
        <p>　新規ポストを作成する　</p>
        <%= render partial: "post_form", locals: { post: @post, user: @user } %>
      </div>
    </div>
    <%= link_to user_mypage_path,class: "btn btn-outline-danger d-block mt-3" do %>マイページに戻る<% end %>
  </div>