/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

 @import "bootstrap";
 @import "font-awesome";
 /////全てのページに適用するCSS/////

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  main {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .flash {
    padding-left: 10px;
    color: white;
    &__notice {
      background-color: #066;
    }
    &__alert {
      background-color: #c33;
    }
  }
  .fa-check {
    color: #c33;
  }
  .comment {
    clear: both;
  }
    .balloon {
      position: relative;
      display: inline-block;
      margin: 1.5em 0;
      padding: 7px 10px;
      min-width: 120px;
      max-width: 100%;
      color: #555;
      font-size: 16px;
      background: #CEF9DC;
    }
    .balloon:before {
      content: "";
      position: absolute;
      top: -30px;
      left: 23%;
      margin-left: -15px;
      border: 15px solid transparent;
      border-bottom: 15px solid #CEF9DC;
    }
    .balloon p {
      margin: 0;
      padding: 0;
    }

  //ヘッダー
  .headers {
    z-index: 30;
    position: sticky;
    top: 0;
  }
    //ヘッダー　その１
    .first-header a {
      color: white;
    }
    .title-logo {
      color: white;
      font-weight: bold;
      font-size: 30px;
      text-shadow: 0 0 10px rgba(255, 255, 255, .7);
    }
    .pill-style {
      background-color: #099;
      color: white;
    }
    .nav-item>.active {
      background-color: #F96 !important;
    }
    //ヘッダー　その２
    .user-image {
      margin-right: 20px;
    }
    .second-header {
      color: white;
      background-color: #6699FF;
    }
    .login-message {
      color: grey;
      vertical-align: middle;
    }
    .login-message p {
      font-size: 15px;
      margin-top: 10px;
    }
    .login-user-image span {
      font-size: 15px;
      font-weight: bold;
      display: inline-block;
      margin: 7px 0 0 10px;
    }

  //その他
  .page-title {
    color: white;
    font-weight: bold;
    background-color: #099;
    padding: 7px 5px;
    display: inline-block;
    margin-bottom: 15px;
    border-radius: 5px;
  }
  .corp-page-title {
    color: white;
    background-color: #F96;
    padding: 5px;
    display: inline-block;
    margin-bottom: 15px;
  }

  //セールス側新規登録ページ/////
  .sign-up-page {
    width: 600px;
    margin: 0 auto;
  }
  .field {
    margin-top: 10px;
  }
  .must {
    bgcolor: red;
  }
  .form-control::placeholder {
    color: #BBBBBB;
  }
  .actions {
    margin-top: 20px;
  }

//セッション関連ページ
  .session-page {
    width: 580px;
    margin: 0 auto;
  }
    .session-page a {
      color: #099;
    }
    .session-title {
      margin: 0 auto;
      width: 580px;
      font-weight: 20px;
      line-height: 40px;
      color: white;
      font-weight: bold;
      background-color: #099;
      border-radius: 5px;
    }
    .confirm-password span {
      font-size: 14px;
      margin-left: 10px;
      padding: 2px 5px 2px 5px;
      color: white;
      background-color: red;
      border-radius: 15%;
    }
    .back-button a {
      color: red;
    }
    .reset-password-introduce {
      width: 480px;
      margin: 0 auto;
      color: grey;
    }

/////マイページ/////
  .mypage {
    width: 800px;
    margin: 0 auto;
  }
  .myinfo td {
    border: 1px solid black;
  }
  .first-day {
    color: grey;
    font-size: 14px;
  }

/////アバウトページ/////
  .about-page {
    width: 800px;
    margin: 0 auto;
  }

@media screen and (max-width: 600px) {
  .invisible-sp {
    display: none;
  }
  .title-logo {
    margin: 0 auto !important;
  }
    .nav-pills.ml-auto {
      margin: 0 auto !important;
    }
  .session-page {
    width: auto;
  }
  .session-title {
    width: auto;
    margin: 0 10px;
  }
  .btn {
    margin: 0 10px;
  }
  .profile {
    width: auto;
  }
    .myposts, .post-article-width, .profile-header {
      width: auto;
      margin: 0 10px;
    }
    .profile-header .row {
      margin: 0 20px;
    }
}

@media screen and (min-width: 600px){
  .br-sp {
    display: none;
  }
}