/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

 @import "bootstrap";
 @import "font-awesome";
 /////全てのページに適用するCSS/////
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 main {
    margin-top: 20px;
 }
 header {
  //height: 88px;
 }
 .title-logo {
    color: #000066;
    font-weight: bold;
    font-size: 30px;
    text-shadow:
      1px 0 0 silver,
      0 1px 0 silver,
      -1px 0 0 silver,
      0 -1px 0 silver
 }
/////ヘッダー/////ピル部分/////
 .user-image {
   margin-right: 20px;
 }
 .pill-1 {
   background-color: #000099;
   color: white;
   margin-right: 10px;
 }
 .pill-2 {
   background-color: #000099;
   color: white;
 }
/////セカンドヘッダー/////
.second-header {
  color: white;
  background-color: #6699FF;
}
.second-navbar {
  height: 56px;
}
.container-fluid {
  height: 56px;
}
.login-message {
  color: grey;
  vertical-align: middle;
}
.login-message p {
  font-size: 15px;
  margin-top: 10px;
}
.login-user-image span {
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  margin: 7px 0 0 10px;
}
.page-title {
    color: white;
    background-color: #6699FF;
    padding: 5px;
    display: inline-block;
    margin-bottom: 30px;
 }
 .corp-page-title {
    color: white;
    background-color: #FF6633;
    padding: 5px;
    display: inline-block;
    margin-bottom: 30px;
 }
 /////メインページ/////
 .test-page {
    //width: 100vw;
    height: 100vh;
    background: image-url('topimage.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
 }
 .main-page {
  width: 600px;
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
 }
 .main-message {
  display: inline-block;
  font-size: 26px;
  font-weight: bold;
  color: white;
  text-shadow: 0 5px 5px black;
  margin-bottom: 30px;
 }
 .main-page p {
   display: inline-block;
   margin-top: 20px;
   font-weight: bold;
   color: white;
   text-shadow: 0 5px 5px black;
 }
 .top-btn {
   margin-right: 20px;
 }
 //セールス側新規登録ページ/////
 .sign-up-page {
    width: 600px;
    margin: 0 auto;
 }
 .field {
  margin-top: 10px;
 }
 .must {
  bgcolor: red;
 }
 .form-control::placeholder {
   color: #BBBBBB;
 }
 .actions {
   margin-top: 20px;
 }
 //セールス側ログインページ/////
 .login-page {
  width: 600px;
  margin: 0 auto;
 }
 /////マイページ/////
 .mypage {
  width: 800px;
  margin: 0 auto;
 }
 .myinfo td {
  border: 1px solid black;
 }
 /////アバウトページ/////
 .about-page {
  width: 800px;
  margin: 0 auto;
 }
 /////企業ログインページ/////
 .corp-login-page, .corp-registration-page {
  width: 600px;
  margin: 0 auto;
 }