// Place all the styles related to the corps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
//
.follow-page {
  width: 800px;
  margin: 0 auto;
}
  .follow-table td, .follow-table th {
  border-bottom: solid 1px #DDDDDD;
}
.profile-image {
  border-radius: 50%;
}
.sales-index-name {
  position: relative;
}
  .sales-index-name p {
    position: absolute;
    left: 65px;
    top: 33%;
  }

// 企業側アバウトページ
.corp-about-page {
  width: 600px;
  margin: 0 auto;
  padding-top: 20px;
}
.menu-head {
  position: relative;
}
  .menu-head p {
    font-weight: bold;
    font-size: 20px;
    color: white;
    position: absolute;
    top: 10px;
    left: 0;
  }
  .menu-head-img {
    width: 600px;
    height: 50px;
  }
.submenu-head {
  position: relative;
}
  .submenu-head p {
    font-weight: bold;
    font-size: 18px;
    color: grey;
    position: absolute;
    top: 6px;
    left: 5px;
  }
  .submenu-head-img {
    width: 600px;
    height: 40px;
    border-bottom: solid 1px #CCC;
    border-top: solid 1px #CCC;
    margin-bottom: 10px;
  }

//プロフィールページ
.profile {
  width: 600px;
  margin: 0 auto;
}
.name-and-image p {
  color: grey;
  font-weight: bold;
  float: left;
  margin: 40px 0 0 30px;
}
.prof-image {
  float: left;
  border-radius: 50%;
}
.setting-link {
  font-size: 30px;
  margin-top: 30px;
  float: right;
}
.profile a {
  text-decoration: none;
  color: grey;
}

@media screen and (max-width: 600px) {
  .follow-page {
    width: auto;
  }
}