// Place all the styles related to the corps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fav-index-page {
  width: 800px;
  margin: 0 auto;
}
.fav-index-table td, .fav-index-table th {
  border-bottom: solid 1px #DDDDDD;
}