// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/////メインページ/////
html, body {
  height: 100%;
}
.top-page {
  height: calc(100% - 125px);
  opacity: 0.9;
  background: image-url('shakehands.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: NotoSans;
  letter-spacing: 4px;
}
.main-page {
  width: 70%;
  height: 350px;
  margin: 0 auto;
  padding-bottom: 50px;
  border-bottom: solid 2px white;
}
  .main-message {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-shadow:
      #333 1px 1px 1px,
      #333 -1px 1px 1px,
      #333 1px -1px 1px,
      #333 -1px -1px 1px;
  }
  .site-title {
    font-size: 3.7rem;
    margin-top: -5px;
    color: #34675C;
    text-shadow:
      white 2px 2px 3px,
      white -2px 2px 3px,
      white 2px -2px 3px,
      white -2px -2px 3px;
  }
  .main-page p {
    display: inline-block;
    margin-top: 20px;
    color: white;
    text-shadow:
      #333 1px 1px 1px,
      #333 -1px 1px 1px,
      #333 1px -1px 1px,
      #333 -1px -1px 1px;
  }
  .main-page a {
      font-weight: bold;
    }


  .nav-area {
    width: 800px;
    margin-top: 20px;
    margin-left: 50px;
  }
  .type-message {
    width: 420px;
    line-height: 35px;
    text-shadow:
      #333 1px 1px 1px,
      #333 -1px 1px 1px,
      #333 1px -1px 1px,
      #333 -1px -1px 1px;
  }
  .login-link {
    text-align: center;
  }
  .login-link p {
    width: 100%;
    display: inline-block;
    border-bottom: 2px solid white;
    margin-top: 0px !important;
    padding-bottom: 5px;
  }
  .doctor-menu {
    margin-bottom: 10px;
  }

@media screen and (max-width: 600px){
  .top-page {
    align-items: start;
    padding-top: 10px;
  }
  .main-page {
    height: calc(100% - 187px);
    width: auto;
    position: sticky;
    top: 187px;
    border-bottom: none;
  }
  .col-xs-7 {
    width: 90%;
    height: 250px;
    margin: 0 auto;
  }
  .col-xs-5 {
    width: 90%;
    margin: 0 auto;
  }
  .site-title, .type-message {
    width: 100%;
    padding: 10px 0;
  }
  .site-title {
    font-size: 40px;
    margin-top: 0px;
    padding: 0px;
  }
  .type-message {
    font-size: 13px !important;
    letter-spacing: 1px;
    line-height: 20px;
  }
}

