// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/////メインページ/////
  .top-page {
    height: cover;
    background: image-url('topimage.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  .main-page {
    width: 600px;
    height: 700px;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
  }
    .main-page p {
      display: inline-block;
      margin-top: 20px;
      font-weight: bold;
      color: white;
      text-shadow:
        #099 1px 1px 2px,
        #099 -1px 1px 2px,
        #099 1px -1px 2px,
        #099 -1px -1px 2px;
    }
    .main-page a {
      font-weight: bold;
    }

  .main-message {
    display: inline-block;
    font-size: 26px;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
    text-shadow:
      #099 1px 1px 2px,
      #099 -1px 1px 2px,
      #099 1px -1px 2px,
      #099 -1px -1px 2px;
  }

  .nav-area {
    width: 800px;
    margin-top: 20px;
    margin-left: 50px;
  }


@media screen and (max-width: 600px){
  .main-page {
    width: auto;
  }
}