// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.notification-page {
  width: 600px;
  margin: 0 auto;
}
.notification-header {
  height: 50px;
}
.destroy-btn {
  float: right;
}
.notification-index-contents {
  clear: left;
}
.notification-table a {
  font-weight: bold;
  color: #099;
}

@media screen and (max-width: 600px){
 .notification-page {
   width: auto;
   padding: 0 10px;
   margin-top: 10px;
 }
}