// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.notification-index {
  width: 600px;
  margin: 0 auto;
  padding-top: 30px;
}
.notification-index-header {
  height: 50px;
}
.destroy-btn {
  float: right;
}
.notification-index-contents {
  clear: left;
}
.notification-table a {
  font-weight: bold;
  color: #099;
}