// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.talkroom-page {
  width: 600px;
  margin: 0 auto;
}
  .talkroom-page a {
    color: grey;
  }
  .talkroom-header {
    padding-top: 20px;
    padding-bottom: 10px;
    position: sticky;
    top: 117px;
    z-index: 20;
    background-color: white;
    border-bottom: 1px solid #ddd;
  }
    .talkroom-title {
      color: white;
      background-color: #099;
      font-weight: bold;
      padding: 5px;
      display: inline-block;
      margin-bottom: 30px;
      margin-right: 180px;
      float: left;
      border-radius: 5px;
     }
    .talkroom-user {
      float: right;
      }
    .message-paginate {
      width: 600px;
      height: 50px;
      z-index: 2;
      background-color: white;
      margin-top: 5px;
      padding-top: 5px;
      border-top: 1px solid #ddd;
      position: sticky;
      bottom: 0;
    }
      .pagination {
        justify-content: center;
      }
      .pagination>li>a {
        border: none;
        color: #099;
      }
      .pagination>.active>.page-link {
        background-color: #099 !important;
        border-radius: 5px !important;
      }
    .message-form {
      width: 460px;
      height: 30px;
    }
    .submit-form {
      width: 100px;
      height: 30px;
      margin-left: 20px;
    }

//チャット表示部分
.message-table {
  margin-top: 10px;
}
  .message-table td {
    padding: 5px 3px;
  }
  .message-area {
    width: 100%;
  }
    .fukidashi {
      display: inline-block;
      padding: 5px 15px;
      margin-left: 15px;
      position: relative;
      background-color: #D9F0FF;
      border-radius: 10px;
    }
    .fukidashi:after {
      content: "";
      position: absolute;
      top: 50%; left: -10px;
      margin-top: -10px;
      display: block;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 10px 10px 10px 0;
      border-color: transparent #D9F0FF transparent transparent;
    }
    .fukidashi2 {
      display: inline-block;
      padding: 5px 15px;
      margin-left: 15px;
      position: relative;
      background-color: #fcc;
      border-radius: 10px;
    }
    .fukidashi2:after {
      content: "";
      position: absolute;
      top: 50%; left: -10px;
      margin-top: -10px;
      display: block;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 10px 10px 10px 0;
      border-color: transparent #fcc transparent transparent;
    }
  .messenger-name {
    width: 100px;
  }
    .messenger-name p {
    font-size: 14px;
    background-color: #DDD;
    padding: 0px 3px;
    margin-bottom: 0px;
    display: inline-block;
  }

@media screen and (max-width: 600px) {
  .talkroom-page {
    width: auto;
  }
  .talkroom-header {
    position: sticky;
    top: 157px;
  }
  .message-paginate {
    width: auto;
  }
  .talkroom-title {
    margin-right: 0px !important;
    margin-bottom: 0px !important;
  }
  .TitleAndUser {
    height: 50px;
    margin: 0 10px;
  }
  .message-form-area {
    margin: 0 auto;
  }
  .message-form {
    width: 220px;
  }
  .submit-form {
    width: auto;
    height: 30px;
    margin-left: 0px;
    float: right;
  }
}