// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.chat-room-page {
  width: 600px;
  margin: 0 auto;
}
.message-form {
  width: 460px;
  height: 30px;
}
.submit-form {
  width: 100px;
  height: 30px;
  margin-left: 20px;
}
.chat-page-title {
  color: white;
  background-color: #6699FF;
  padding: 5px;
  display: inline-block;
  margin-bottom: 30px;
  margin-right: 180px;
  float: left;
 }
.chat-paginate {
  display: inline-block;
  margin-top: 5px;
  float: right;
}
.talkroom-user {
  float: right;
}
  .talkroom-user a {
    color: grey;
  }
//チャット表示部分
.message-table {
  margin-top: 10px;
}
  .sales-image, .doctor-image {
    float: left;
  }
  .message-area {
    float: left;
  }
  .sales-name, .doctor-name {
    float: right;
  }
  .sales-name {
    background-color: #99CCFF;
    padding: 1px 3px;
  }
  .doctor-name {
    background-color: #FFCCCC;
    padding: 1px 3px;
  }