// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// マイページ
.count-follow {
  margin-top: 10px;
}
  .count-follow a {
    color: #099;
  }
.myposts {
  width: 580px;
  margin: 0 auto;
  margin-top: 20px;
}

.post-style {
    padding: 5px;
    color: grey;
    background: white;
    border-top: solid 5px #099;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  }
  .post-article-width {
    width: 540px;
    margin: 0 auto;
    margin-top: 10px;
  }
  .clearfix:after{
    clear: both;
    display: block;
  }
  .post-title {
    color: #099;
    font-weight: bold;
    font-size: 18px;
    border-bottom: solid 1px #099;
  }
    .post-edit {
      float: right;
      color: #099;
    }
  .post-info {
    float: right;
    color: #099;
    margin-bottom: 10px;
  }

// ユーザー一覧・検索ぺーじ
.user-index-page {
  width: 800px;
  margin: 0 auto;
}
.profile-image {
  border-radius: 50%;
}
.sales-index-name {
  position: relative;
}
.sales-index-name p {
  position: absolute;
  left: 65px;
  top: 33%;
}
.sales-index-table th, .sales-index-table td {
  color: grey;
  padding: 10px;
}
.sales-index-name a {
  color: grey;
}
.index-search-table {
  margin-bottom: 10px;
}
  .index-search-table td {
    border: 0px none;
  }
  .key {
    margin-left: 10px;
  }

/////ユーザー詳細ページ/////
.user-show-page {
  width: 600px;
  margin: 0 auto;
}

// アバウトページ
.user-about-page {
  width: 600px;
  margin: 0 auto;
  padding-top: 20px;
}
.menu-head {
  position: relative;
}
.menu-head p {
  font-weight: bold;
  font-size: 20px;
  color: white;
  position: absolute;
  top: 10px;
  left: 0;
}
.menu-head-img {
  width: 600px;
  height: 50px;
}
.submenu-head {
  position: relative;
}
.submenu-head p {
  font-weight: bold;
  font-size: 18px;
  color: grey;
  position: absolute;
  top: 6px;
  left: 5px;
}
.submenu-head-img {
  width: 600px;
  height: 40px;
  border-bottom: solid 1px #CCC;
  border-top: solid 1px #CCC;
  margin-bottom: 10px;
}

//ユーザー：フォロワー一覧
.follower-page {
  width: 600px;
  margin: 0 auto;
}
.follower-table {
  margin-top: 10px;
}
  .follower-table a {
    font-weight: bold;
    color: #099;
  }
  .follower-table td {
    border-top: solid 1px #DDDDDD;
    border-bottom: solid 1px #DDDDDD;
  }

@media screen and (max-width: 600px) {
  .follower-page {
    width: auto;
    padding: 0 10px;
  }
}